<p>Here are your results!</p>
<p>Here is some information about <%= @title %> </p>
<p>Rotten Tomatoes rating: <%= @rating.to_i %> </p>
<p>Movie Director: <%= @director %> </p>
<p>Film lenth: <%= @runtime %> minutes. </p>
<p>Release year: <%= @year %> </p>
<img src="<%= @poster %>" alt="">
  
<p><a href="/movies">Look up another movie...</a></p>