<h4>Here are your results!</h4>
<h5>Here is some information about <%= @title %> </h5>
<h5>Rotten Tomatoes rating: <%= @rating.to_i %> </h5>
<h5>Movie Director: <%= @director %> </h5>
<h5>Film lenth: <%= @runtime %> minutes. </h5>
<h5>Release year: <%= @year %> </h5>
<img src="<%= @poster %>" alt="">
  
<p><a href="/movies">Look up another movie...</a></p>