<h4>Here are your results!</h4>
<h5>This company, <%= @company %>, is listed on the <%= @exchange %> exchange.</h5>
<h5>The stock stock last traded at $ <%= @last %></h5>
<h5>This stock traded within a range of $ <%= @low %> to $ <%= @high %> during the last business day.</h5>

  
<a href="/stocks">Look up another stock...</a>
